
    <section class="container" id="aboutWrapper">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <img src="assets/images/resume_pic_2.png" alt="Christian Thompson" height="200">
            </div>
            <div class="col-sm-8 col-md-8" id="aboutMe">
                <p>Hi, Thanks for visiting my page.</p>
                <p>I am a web developer in beautiful Boise, ID. I live here with my brilliant wife and 2 year old son.</p>
                <p>I love all aspects of development.  I'm passionate about writing dry, testable code. Problem solving is fun.  Usibility is everything!</p>
                <p>When I am not coding, I am climbing, skiing, and fly fishing. I take my family into the mountains every chance I get.  That's the whole reason to live here.</p>
                <p>If UX is really important to you, check out <a id="UX" href="http://www.uxtoolbox.com/" target="_blank">uxtoolbox.com</a></p>
            </div>
        </div>
    </section>