<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photo Journal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Grands-icon-font/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/photoresume.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/media-queries.css">
</head>

<body>
    <section>
        <div id="headerName">
            <h3>Christian Thompson</h3>
        </div>
        <div>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="about.html">About</a></li>
                            <li><a href="index.html">Resume</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <!-- <li><a href="photoresume.html" rel="nofollow" class="bold">Photography</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!------------- Main Contanet -------------->
    <section class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <img src="http://i.imgur.com/qK42fUu.jpg" alt="Golden Gate Bridge">
                </div>
            </div>
        </div>
    </section>
    <!--------------- End Main Content ---------------->
    <!----------------Footer----------------------->
    <nav class="navbar navbar-default navbar-bottom" id="center">
        <div class="container" id="icons">
            <a href="https://github.com/Christian510" target="_blank"><i class="fa fa-github fa-2x"
                    aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/christian510/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="https://www.instagram.com/christiant510/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
            <!-- <a href="https://codepen.io/christian510/" target="_blank"><i class="fa fa-codepen fa-2x"></i></a> -->
            <a href="mailto:christian510@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>
        </div>
    </nav>
    <!---------------End Footer-------------------->
    <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>

</html>