    <!------- Portfolio ------->
    
    <section id="portfolio">
        <div class="card">
            <div id="card-1" class="img-container">
                <a href="https://karma-yoga-mats.herokuapp.com/" target="_blank"><img src="assets/images/kym_link_img.png" width="250" height="150"> </a>
            </div>
            <p>Create and save custom yoga classes</p>
            <p>** Please give the app about 30 seconds to wake up **</p>
        </div>
        <div class="card">
            <div class="img-container">
                <a href="#" target="_blank"><img src="https://via.placeholder.com/150x100" width="250" height="150"></a>
            </div>
            <p>Coming soon</p>
        </div>
        <div class="card">
            <div class="img-container">
                <a href="#" target="_blank"><img src="https://via.placeholder.com/150x100" width="250" height="150"></a>
            </div>
            <p>Coming soon</p>
        </div>
        <div class="card">
            <div class="img-container">
                <a href="#" target="_blank"><img src="https://via.placeholder.com/150x100" width="250" height="150"></a>
            </div>
            <p>Coming soon</p>
        </div>
    </section>