<!--Main Content-->
<div class="container" id="wrapper">
    <div class="row">
        <!--Leftside of Container-->
        <section class="col-sm-6 col-md-6">
            <div id="ed">
                <div class="left">
                    <h1>Education</h1>
                </div>
                <div class="left">
                    {{#each education}}
                    <div class="padBottom">
                        <h3>{{this.school}}</h3>
                        <h4>{{this.degree}}</h4>
                        <p>{{this.start}}-{{this.end}}</p>
                    </div>
                    {{/each}}
            </div>
            <div class="left">
                <h2>Skills</h2>
                <div>
                    {{#each skills}}
                    <p>{{this.name}}</p>
                    {{/each}}
                </div>
            </div>
        </section>

        <!--Rightside of Container: Work History-->
        <section class="col-sm-6 col-md-6">
            <div class="right">
                <h1>Work History</h1>
                {{#each workHistory}}
                <div class="padBottom">
                    <h3>{{this.company}}</h3>
                    <h4>{{this.jobTitle}}<a class="tilde"> ~ </a>{{this.start_date}} - {{this.end_date}}</h4>
                    <ul>
                        {{#each jobDuties}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
                <!-- <div class="padBottom">
                    <h3>Clearview Elite</h3>
                    <h4>Director of Sales<a class="tilde"> ~ </a>April 2017 - July 2018</h4>
                    <ul>
                        <li> Generated new leads</p>
                        <li>Developed an array of phone and email campaigns for each unique target market</li>
                        <li>Managed customer data and marketing campaigns with HubSpot</li>
                        <li>Worked closely with the owner to refine the company brand messaging.</li>
                        <li>Matched our services with the right target markets</li>
                    </ul>
                </div> -->
                <!-- <div class="padBottom">
                    <h3>Sandpoint Rock Gym</h3>
                    <h4>Founder and President<a class="tilde"> ~ </a> 2010-2015</h4>
                    <ul>
                        <li>Motivated climbers in the community to brainstorm, design, and fund the building of a
                            community bouldering gym.</li>
                        <li>Negotiated deals with local and regional companies to provide the best value possible
                            for
                            members</li>
                        <li>Organized fundraising events</li>
                        <li>Promoted the gym to attract new memberships</li>
                    </ul>
                </div> -->
            </div>
        </section>
    </div>
    <!--End of Rightside Container: Work History-->

    <!---------Associations and Certificates------->
    <div id="AandC">
        <div class="row">
            <div class="col-sm-6 col-md-5 left">
                <h2>Associations</h2>
                <p>Licensed Real Estate Agent, Idaho</p>
                <p>National Association of Realtors</p>
                <p>Idaho State Association of Realtors</p>
                <p>American Alpine Club</p>
            </div>
            <div class="col-md-2">
                <h2 id="at">&</h2>
            </div>
            <div class="col-sm-6 col-md-5 right">
                <h2>Certificates</h2>
                <p>Udemy.com - <a id="udemy" href="https://www.udemy.com/certificate/UC-V9UU9C2Q/"
                        target="_blank">Programming Foundations: HTML5 + CSS3</a></p>
                <p>Licensed Real Estate Agent, Idaho</p>
            </div>
        </div>
    </div>
</div>