
    <!--Main Content-->
    <section class="container" id="wrapper">
        <div class="row">
            <!--Leftside of Container-->
            <div class="col-sm-6 col-md-6">
                <div id="ed">
                    <div class="left">
                        <h1>Education</h1>
                    </div>
                    <div class="left">
                        <div class="padBottom">
                            <h3>Boise State University</h3>
                            <h4>BA Literature</h4>
                            <p>1995-1998</p>
                        </div>
                        <div class="padBottom">
                            <h3>North Idaho College</h3>
                            <h4>AS Biology</h4>
                            <p>1992-1995</p>
                        </div>
                        <div class="padBottom">
                            <h3>DevMountain</h3>
                            <h4>Web Development Bootcamp</h4>
                            <p>2018/19 Cohort</p>
                        </div>
                    </div>
                </div>
                <div class="left">
                    <h2>Skills</h2>
                    <div>
                        <p>Bootstrap</p>
                        <p>HandlebarsJs</p>
                        <p>HTML / CSS</p>
                        <p>SASS / SCSS</p>
                        <p>Python</p>
                        <p>Javascript</p>
                        <p>ReactJs</p>
                        <p>NodeJs</p>
                        <p>Express</p>
                        <p>PostgreSQL</p>
                        <p>SEO</p>
                        <p>Photoshop</p>
                        <p>MicroSoft Office</p>
                        <p>Non-Profit Management</p>
                    </div>
                </div>
            </div>

            <!--Rightside of Container: Work History-->
            <div class="col-sm-6 col-md-6">
                <div class="right">
                    <div class="padBottom">
                        <h1>Work History</h1>
                        <h3>UX Toolbox</h3>
                        <h4>Web Development<a class="tilde"> ~ </a>March 2020 - Present</h4>
                        <ul>
                            <li>Write clean and testable code</li>
                            <li>Create responsive web layouts using HTML/CSS best practices</li>
                            <li>Integrate data from various back-end services and databases</li>
                            <li>Cooperate with UX/UI designers to match visual design intent</li>
                            <li>Clearly communicate with clients</li>
                        </ul>
                    </div>
                    <div class="padBottom">
                        <h3>Clearview Elite</h3>
                        <h4>Director of Sales<a class="tilde"> ~ </a>April 2017 - July 2018</h4>
                        <ul>
                            <li> Generated new leads</p>
                            <li>Developed an array of phone and email campaigns for each unique target market</li>
                            <li>Managed customer data and marketing campaigns with HubSpot</li>
                            <li>Worked closely with the owner to refine the company brand messaging.</li>
                            <li>Matched our services with the right target markets</li>
                        </ul>

                    </div>
                    <div class="padBottom">
                        <h3>Sandpoint Rock Gym</h3>
                        <h4>Founder and President<a class="tilde"> ~ </a> 2010-2015</h4>
                        <ul>
                            <li>Motivated climbers in the community to brainstorm, design, and fund the building of a
                                community bouldering gym.</li>
                            <li>Negotiated deals with local and regional companies to provide the best value possible
                                for
                                members</li>
                            <li>Organized fundraising events</li>
                            <li>Promoted the gym to attract new memberships</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!--End of Rightside Container: Work History-->

        <!---------Associations and Certificates------->
        <div id="AandC">
            <div class="row">
                <div class="col-sm-6 col-md-5 left">
                    <h2>Associations</h2>
                    <p>Licensed Real Estate Agent, Idaho</p>
                    <p>National Association of Realtors</p>
                    <p>Idaho State Association of Realtors</p>
                    <p>American Alpine Club</p>
                </div>
                <div class="col-md-2">
                    <h2 id="at">&</h2>
                </div>
                <div class="col-sm-6 col-md-5 right">
                    <h2>Certificates</h2>
                    <p>Udemy.com - <a id="udemy" href="https://www.udemy.com/certificate/UC-V9UU9C2Q/"
                            target="_blank">Programming Foundations: HTML5 + CSS3</a></p>
                    <p>Licensed Real Estate Agent, Idaho</p>
                </div>
            </div>
        </div>
        <!--------End Associations and Certificates---->