/*Welcome!  Please do checkout out my handy work. 
This is my first website and represents a few months 
of self directed learning.  For me this is still a work in progress
as I learn more I will come back to my code and condinue refactor and refine it*/ 

/*Main Content Styling*/
#wrapper {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px 0 40px;
  }
img {
    border-radius: 50%;
    display: block;
    margin: 20px 20% 50px auto; 
}
#aboutMe {
    border-left: 5px solid darkred;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-weight: 300; 
    font-size: 1.2em;
}

a:hover {
    text-decoration: none;
}
#space {
    word-spacing: .5em;
}
li:active {
    color: #000;
    /* font-weight: bold; */
}
li:visited {
    color: #000;
    /* font-weight: bold; */
}
.link {
    color: black;
    font-style: italic;
}
.link:hover {
    color: darkred;
    text-decoration: none;
}
#UX {
    font-weight: 600;
}
/*End Main Content Styling*/

/*Media queries*/
@media (min-width: 992px) {
        
}
@media (min-width: 768px) {
    /*Centers the navbar links.*/
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
@media (max-width: 768px) {
    img {
            margin: 25px auto;
        }
    #wrapper {
        padding-bottom: 20px;
    }
    #aboutMe {
        border-left: none;
    }
 
}
/*End Media queries*/
