
/* --- About Page ------------------------- */
#aboutWrapper {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px 0 40px;
  }
#profileImg {
    border-radius: 50%;
    display: block;
    margin: 20px 20% 50px auto; 
}
#aboutMe {
    border-left: 5px solid darkred;
    font-weight: 300; 
    font-size: 1.2em;
}

#space {
    word-spacing: .5em;
}

.link {
    color: black;
    font-style: italic;
}
.link:hover {
    color: darkred;
    text-decoration: none;
}
#UX {
    font-weight: 600;
}

/* --- Media queries --------------------*/
@media (min-width: 992px) {
        
}
@media (min-width: 768px) {
    /*Centers the navbar links.*/
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}
@media (max-width: 768px) {
    #profileImg {
            margin: 25px auto;
        }
    #aboutWrapper {
        padding-bottom: 20px;
    }
    #aboutMe, p {
        border-left: none;
        font-size: 14px;
        line-height: 1.2;
    }
 
}
/*End Media queries*/
