

/* background: #616161;  fallback for old browsers */
/* background: -webkit-linear-gradient(to bottom, #9bc5c3, #616161);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to bottom, #9bc5c3, #616161); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/* White Gradient
/*background: #ECE9E6;   fallback for old browsers */
/*background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);   Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

body {
    margin: 0;
    background: #FFFFF0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
    font-weight: 400;
}
h4 {
    font-size: 1.4em;
}
 a {
    color: black;
    font-size: 18px;
  }
  a:hover {
      color: darkred;
      text-decoration: none;
  }

li {
    line-height: 150%;
    text-transform: none;
}
ul, ol {
    /* margin-left: 10px; */
    padding-left: 20px;
}
