
/*Centers the Header Name*/
#headerName {
   font-weight: 700;
   font-size: 1.5em;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;   
}

/*Makes the background of the navbar transparent.  Hamberger stays visable*/
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { 
    color: #000000; 
} 
.bold {
    font-weight: bold;
}

li a {
    font-family: 'Open Sans', sans-serif;
}