

/*Styling of Main Content*/
#wrapper {
   padding-bottom: 10px;    
}
.right {
    padding-left: 10px;  
}
.left {
    text-align: right;
    padding-right: 10px;
    padding-left: 15px;
}
.padBottom {
    padding-bottom: 10px;
    line-height: 1em;
}
/*End Main Content Styling*/

/*Education*/
#ed {
    text-align: right;
}
/*End of Education*/

/*Associations & Certificates*/
#AandC {
    padding-top: 10px;
    padding-bottom: 20px;
}
#at {
    color: darkred;
    text-align: center;
    font-size: 7em;
}

a:hover {
    color: darkred;
    text-decoration: none;
}
#udemy {
    font-weight: 700;
}
/*End Associations & Certificates*/