
            <div id="ed">
                <div class="left">
                    <h1>Education</h1>
                </div>
                <div class="left">
                    <div class="padBottom">
                        <h3>Boise State University</h3>
                        <h4>BA Literature</h4>
                        <p>1995-1998</p>
                    </div>
                    <div class="padBottom">
                        <h3>North Idaho College</h3>
                        <h4>AS Biology</h4>
                        <p>1992-1995</p>
                    </div>
                    <div class="padBottom">
                        <h3>DevMountain</h3>
                        <h4>Web Development Bootcamp</h4>
                        <p>2018/19 Cohort</p>
                    </div>
                </div>
            </div>