
            <div class="left">
                <h2>Skills</h2>
                <div>
                    <p>Bootstrap</p>
                    <p>HandlebarsJs</p>
                    <p>HTML / CSS</p>
                    <p>SASS / SCSS</p>
                    <p>Python</p>
                    <p>Javascript</p>
                    <p>ReactJs</p>
                    <p>NodeJs</p>
                    <p>Express</p>
                    <p>PostgreSQL</p>
                    <p>SEO</p>
                    <p>Photoshop</p>
                    <p>MicroSoft Office</p>
                    <p>Non-Profit Management</p>
                </div>
            </div